@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.info-window {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 1px solid #333;
  border-radius: 5px;
}

.info-window:after,
.info-window:before {
  content: "";
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.info-window:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.info-window:before {
  border-color: rgba(51, 51, 51, 0);
  border-top-color: #333;
  border-width: 9px;
  margin-left: -9px;
}

.info-window > button {
  position: absolute;
  right: 12px;
  top: 10px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.info-window .content {
  padding: 13px;
}

.info-window .content > p {
  font-size: 14px;
  margin: 0;
  padding-top: 4px;
}

.info-window .content .title {
  display: block;
  padding-right: 25px;
  padding-bottom: 13px;
  border-bottom: 1px solid #ddd;
}

.info-window .content .title .category {
  color: #999;
  font-size: 13px;
  vertical-align: middle;
  padding-left: 5px;
}

.info-window .content .road-address {
  padding-top: 13px;
}

.info-window .content .address {
  color: #999;
}

.info-window .content .etc .distance {
  margin-right: 7px;
}

.info-window .content .etc .phone {
  color: #288833;
}

.info-window .content .etc .link {
  float: right;
  color: #1e3fa1;
  font-weight: bold;
}
